* {
  margin: 0;
}

body html {
  width: 100%;
}

html {
  background: url(./assets/ha-test-background.png); 
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vh auto;
}

.container {
  display: flex;
}

#avatar {
  max-height: 8em;
  padding-left: .25em;
  margin-top: 18em;
}

#speech {
  max-width: 85%;
  height: 70%;
  padding-top: 2em;
}
@media screen and (min-width: 768px) {
  html {
    background-size: cover ;
  }

  #speech {
    width: 85%;
  }

}

