* {
  margin: 0;
}

body html {
  width: 100%;
}

html {
  background: url(./assets/ha-test-background.png) fixed; 
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: 130vh auto; */
  /* background-size: 100vh 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
}

#top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}
#avatar {
  max-height: 8em;
  padding-left: .50em;
  /* margin-top: 23em; */
}

@-webkit-keyframes slide {
  0%   { transform: translateY(60em); 
          overflow: hidden;}
  100% { transform: translateY(0em); }
}
@-moz-keyframes slide {
  0%   { transform: translateY(60em); 
          overflow: hidden;}
  100% { transform: translateY(0em); }
}
@-o-keyframes slide {
  0%   { transform: translateY(60em); 
          overflow: hidden;}
  100% { transform: translateY(0em); }
}
@keyframes slide {
  0%   { transform: translateY(60em); 
          overflow: hidden;}
  50%  {visibility: visible;}
  100% { transform: translateY(0em);
          visibility: visible;} 
}

@keyframes appear {
  0%   { visibility: hidden;}
  100% { visibility: visible;} 
}

#speech-bubble {
  visibility: hidden;
  justify-content: center;
  height: auto;
  width: 93%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 1em;
  margin: 1vh 1vh 1vh 1vh;
  animation-delay: (50/100)s;
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 62%;
	width: 0;
	height: 0;
	border: 1.969em solid transparent;
	border-top-color: aliceblue;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.984em;
  margin-bottom: -1.969em;
}

#text {
  /* background-color: lightcoral; */
  margin-top: 1em;;
  padding: 1em;
  line-height: 1.5em;
  font-size: 95%;
  font-family: 'Cutive Mono', monospace;
  /* word-spacing: 0.15em;
  letter-spacing: 1.09em; */
}

.nav-button {
  visibility: hidden;
  height: 3em;
  width: 6em;
  background-color: white;
  color: coral;
  border: white;
  margin: 1em 0em 0em 1em;
  font-size: 1em;
  font-weight: 800;
  border-radius: 0.5em;
  cursor: pointer;

}

.next {
  animation-name: slide;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.next-appear {
  visibility: visible;
}

.back {
  visibility: visible;
}

#avatar-section {
  visibility: hidden;
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  bottom: 10vh;
  right: 1vh;
}


.button-and-avatar {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

#button {
  height: 3em;
  width: 6em;
  display: flex;
}

#buttons-section {
  display: flex;
}

@media screen and (min-width: 768px) {
  #text {
    font-size: 125%;
  }
  #speech-bubble {
    height: auto;
    width: 75%;
  }
  #text {
    margin-top: 0;
  }
  #speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 72%;
    width: 0;
    height: 0;
    border: 1.969em solid transparent;
    border-right-color: aliceblue;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.984em;
    margin-left: -1.969em;
  }

  #avatar {
    max-height: 12em;
  }
  #avatar-section {
    position: static;
    bottom: 0vh;
  }
  
  .button-and-avatar {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .nav-button {
    margin: 1em 0em 0em 2em;
  }

}

@media screen and (min-width: 1024px) {
  body {
    margin-top: 4em;
  }
}

