* {
  margin: 0;
}

body html {
  width: 100%;
}

html {
  background: url(./assets/ha-test-background.png); 
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: 130vh auto; */
  background-size: auto 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

#top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}
#avatar {
  max-height: 8em;
  padding-left: .50em;
  /* margin-top: 23em; */
}

@-webkit-keyframes slide {
  0%   { transform: translateY(60em); }
  100% { transform: translateY(0em); }
}
@-moz-keyframes slide {
  0%   { transform: translateY(60em); }
  100% { transform: translateY(0em); }
}
@-o-keyframes slide {
  0%   { transform: translateY(60em); }
  100% { transform: translateY(0em); }
}
@keyframes slide {
  0%   { transform: translateY(60em); }
  100% { transform: translateY(0em); }
}

#speech-bubble {
  position: relative;
  height: 53vh;
  width: 93%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 1em;
  margin: 1vh 1vh 1vh 1vh;

  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* transition-property: transform;
  
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s; */
}


/* #speech-bubble {
  transform: translateY(0)
} */


#speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 62%;
	width: 0;
	height: 0;
	border: 1.969em solid transparent;
	border-top-color: aliceblue;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.984em;
  margin-bottom: -1.969em;

}

#text {
  /* background-color: lightcoral; */
  margin-top: 1em;;
  padding: 1em;
  line-height: 1.5em;
  font-size: 145%;
  /* word-spacing: 0.15em;
  letter-spacing: 1.09em; */
}

#next-button {
  height: 3em;
  width: 6em;
  background-color: white;
  color: coral;
  border: white;
  margin: 1em 0em 0em 2em;
  font-size: 1em;
  font-weight: 800;
  border-radius: 0.5em;
}

.button-and-avatar {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
/* #speech {
  max-width: 85%;
  height: 70%;
  padding-top: 2em;
  padding-left: .25em;
} */

#button {
  height: 3em;
  width: 6em;

}

@media screen and (min-width: 768px) {
  html {
    background-size: cover ;
  }

}

